td, th {
    text-align: left;
    font-size: 14mm;
    padding: 40px;
    border-bottom: 2px solid black;
}

.nowrap {
    white-space: nowrap;
}

thead > tr > td {
    background-color: black;
    color: white;
}
