table {
    border-collapse: collapse;
}

td, th {
    text-align: left;
    font-size: 14mm;
    padding: 40px;
    border-bottom: 2px solid black;
}

.nowrap {
    white-space: nowrap;
}

th {
    background-color: #060606;
    color: white;
}

img {
    width: 100%;
}
